@import '../mixins';
@import '../resets';
@import '../variables';


.container-a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 7vh;
    width: 100%;
    border: 2px solid blue;
    margin-bottom: 20px;
    //working on automation
    .automation {
        border-radius: 5px;
        border: none;
        padding: 8px 12px;
        font-size: 12px;
        font-family: $font-primary;
        background-color: #1DB954; /* Bright green color */
        color: $light-black;
        cursor: pointer;
        
    }

    .automation:hover {
        color: $white-tertiary;
        background-color: #1ed760; /* Slightly lighter green on hover */
        transform: scale(1.05); /* Slightly larger on hover */
      }
      
      .automation:focus {
        outline: none; /* Remove default focus outline */
      }
      
}