//BASE COLORS
$black-primary: #010101;
$green-secondary: #45EA69;
$white-tertiary: #FAFAFA;

//ACCENT COLORS:
$black-accent: #171717;
$white-accent: #A2A2A2;
$green-accent: #B6FCC5;
$light-black: #2C2C2C;

//FONT PROPS
$font-primary: "Poppins", sans-serif;
$font-regular-weight: 300;
$font-bold-weight: 700;